<div *ngIf="reviews">
  <article *ngFor="let review of reviews" class="media">
    <div class="media-content">
      <div class="content">
        <strong class="title is-4">
          {{ review.user.username }}
        </strong>
        <small>
          {{ review.date }}
        </small>
        <p class="is-pulled-right tag is-medium is-warning">
          {{ review.rate }}/10
        </p>
        <br>
        <p>
          {{ review.review }}
        </p>
      </div>
    </div>
  </article>
</div>

